POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres123"
POSTGRES_DB="go_ossetia"
POSTGRES_PORT=5432
POSTGRES_HOST="localhost"
POSTGRES_SCHEMA="public"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=${POSTGRES_SCHEMA}"

MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_ENDPOINT=""

JWT_SECRET_TOKEN="jwt-secret-token"

SMTP_HOST=""
SMTP_PORT=0
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""

YANDEX_GEOCODER_API_KEY=""
